<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/app-style.css?{{ cacheBuster }}" media="all" />
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->
    <!-- Css from theme -->
    <link rel="stylesheet" href="../../../../css/styles.css?{{ cacheBuster }}" media="all" />
    <!-- Css from theme -->
    <!-- Base js drupal 8 -->
    <script src="../../js/drupal/jquery.min.js?{{ cacheBuster }}"></script>
    <script src="../../js/drupal/ready.min.js?{{ cacheBuster }}"></script>
    <script src="../../js/drupal/jquery.once.min.js?{{ cacheBuster }}"></script>
    <script src="../../js/drupal/drupal.js?{{ cacheBuster }}"></script>
    <script src="../../js/drupal/picturefill.min.js?{{ cacheBuster }}"></script>
    <script src="../../js/drupal/modernizr.min.js?{{ cacheBuster }}"></script>
    <!-- Base js drupal 8 -->
  </head>
  <body class="{{ bodyClass }}">
