
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <!-- Bootstrap  -->
  <!-- <script src='/bootstrap/js/dist/alert.js'></script>
  <script src='/bootstrap/js/dist/button.js'></script>
  <script src='/bootstrap/js/dist/carousel.js'></script>
  <script src='/bootstrap/js/dist/collapse.js'></script>
  <script src='/bootstrap/js/dist/dropdown.js'></script>
  <script src='/bootstrap/js/dist/index.js'></script>
  <script src='/bootstrap/js/dist/modal.js'></script>
  <script src='/bootstrap/js/dist/popover.js'></script>
  <script src='/bootstrap/js/dist/scrollspy.js'></script>
  <script src='/bootstrap/js/dist/tab.js'></script>
  <script src='/bootstrap/js/dist/tooltip.js'></script>
  <script src='/bootstrap/js/dist/util.js'></script> -->
  <script src='/bootstrap/dist/js/bootstrap.js'></script>
  <script src="../../../../js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
