$spacer-form: 1rem;

.webform-submission-call-for-papers-form {
  .webform-multiple-add {
    margin-top: $spacer-form;
    text-align: center;
  }

  .table {
    .even {
      background-color: $table-accent-bg;
    }

    thead th,
    td {
      border: 0 solid transparent !important;
    }
  }

  .form-item {
    > label {
      font-weight: bold;
      &.option {
        font-weight: normal;
      }
    }
  }

  .radios--wrapper {
    legend {
      padding: 1rem 0;
    }
  }

  input[id^="edit-cfp-speaker-info-add-more-items"] {
    display: none;
  }
}
