
$ds-brand-highlight:  $black;
$ds-light-grey:       $gray-600;

$ds-thick-border:     6px;
$ds-thin-border:      1px;

$ds-standard-padding: 1em;

@mixin ds-panel-base {

  padding-top: 1em;
  padding-bottom: 1em;
}

@mixin ds-panel-bordered {

  border-bottom: $ds-thin-border solid $ds-brand-highlight;
}

@mixin ds-panel-title {
  font-size: 1.8em;
  text-align: center;
  padding-bottom: $ds-standard-padding;
}

.field--type-image > img {
  @extend .img-fluid;
}
