// INDEX
// Please define all styles for the index page in this file.
// For each new page template added to /templates/pages/*.twig,
// please add a corresponding file in /assets/scss/pages/*.scss.

.welcome-paragraph {
  padding: rem(40px 0);
}

.region.region-content {
  width: 100%;
}

div#block-drupalsouth-content {
  padding-bottom: $ds-standard-padding;
}

.alert {
  @extend .container;
}

#block-drupalsouth-local-tasks {

  @extend .container;
  margin-bottom: 1em;

 .tabs {
   @include make-row;

   ul.nav {
     @include make-col(12);
   }
 }
}

.user-login-form {
  @include make-container;
}

