
.path-search #block-drupalsouth-content {
  @extend .container;
}

.search-form {

  .form-wrapper {
    @include make-row;
  }

  .form-item-keys {

    margin-top: 0;
    margin-bottom: 0;

    label {
      display: none;
    }

    @include make-col-ready;

    @include make-col(12);

    @include media-breakpoint-up(sm) {

      @include make-col(4);
    }
  }

  input.form-submit {
    @include make-col-ready;

    @include make-col(12);

    @include media-breakpoint-up(sm) {

      @include make-col(1);
    }
  }

  .search-help-link {
    display: block;
    font-size: 0.8em;
    margin-bottom: 1em;
  }
}