<footer class="footer border-top border-dark border-sm py-3">
  <div class="container">
    <ul class="nav nav-style-1 footer-menu justify-content-center">
      {% for item in footerMenu.items %}
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ item.link }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <p class="copy-right text-center text-muted">{{ copyRight }}</p>
  </div>
</footer>
