// This contains classes found in field_classes only

.paragraph.centered {
  text-align: center;
}

.border-bottom{
  border-bottom: $ds-thin-border solid $gray-400;
  margin-bottom: 1em;
}


.event-feature {
  text-align: center;

  h2 {
    font-size: 3em;
    padding-top: 10px;
    font-weight: bold;
  }

  .field--name-field-dates {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1;
  }

  .field--name-field-location {
    font-style: italic;
  }
}
