<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#">
          <img src="{{ logo }}" width="60" class="d-inline-block align-middle" alt="{{ siteName }}">
          <span class="navbar-brand__name">{{ siteName }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% for item in mainMenu.items %}
              <li class="nav-item">
                <a href="{{ item.link }}" class="nav-link">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </nav>
  </div>
</header>
