
html {
  background-image: url('mt-ainslie-view.jpg') ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

.title, .subtitle {
  color: $black;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

a:hover {
  text-decoration: underline;
}

.popout {
  background: white;
  color: black;
  padding: 1em;
  border-radius: 10px;
}

.popout a {
  color: black;
  text-decoration: underline;
  font-weight:bold;
}

p {
  margin-bottom: 1em;

  .subtitle {
    margin-bottom: 0;
  }
}