// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Add a serif family
$family-serif: 'Noto Serif', serif;



$link: $white;
$link-hover: $white;
$link-visited: $white;
$text: $white;

$size-1:	4rem;
$size-2:	3.5rem;
$size-3:	3rem;
$size-4:	2.5rem;
$size-5:	2rem;
$size-6:	1.5rem;
$size-7:	1rem;

// 3. Set the derived variables
$tablet:  	  569px;
$desktop:	  760px + (2 * $gap);
$widescreen:  952px + (2 * $gap);
$fullhd:      1144px + (2 * $gap);
// Use the new serif family
$family-primary: $family-serif;

$footer-background-color: none;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);



// 6. Import the rest of Bulma
@import "../../node_modules/bulma/bulma";
@import "local";


