<div class="card-list py-3 {{ class }}">
  <div class="container">
    {% if title %}
      <h4 class="card-list__title text-center">{{ title }}</h4>
    {% endif %}
    <ul class="nav d-flex justify-content-center align-items-center">
      {% for item in items %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.link }}">
            <img src="{{ item.logo }}" width="80px" alt="{{ item.name }}"/>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
