.nav-style-1 {
  li {
    a {
      position: relative;

      &:hover {
        text-decoration: underline;
      }

      &:after {
        content: "|";
        position: absolute;
        right: -5px;
      }
    }

    &:last-child {
      a:after {
        display: none;
      }
    }
  }
}

.border {

  &-lg {
    border-width: 14px;
    border-style: solid;
  }

  &-sm {
    border-width: 3px;
    border-style: solid;
  }

  &-yellow {
    border-color: $yellow;
  }

  &-dark {
    border-color: $gray-900;
  }

  &-top {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }

  &-bottom {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
  }
}


