{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div{{ attributes.addClass('ds-no-wrapper', 'ds-stacked', 'clearfix') }}>

    {%  if ds_content %}
        <div class="ds-stacked-middle ds-stacked-item clearfix">
            {{ title_suffix.contextual_links }}

            {{ ds_content }}
        </div>
    {% endif %}

</div>
