{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div{{ attributes.addClass('ds-stacked', 'clearfix') }}>

    {%  if ds_header %}
      <div class="ds-stacked-top ds-stacked-item clearfix">
          <div class="row">
              <div class="col">
                  {{ ds_header }}
              </div>

          </div>
      </div>
    {% endif %}

    {%  if ds_content %}
      <div class="ds-stacked-middle ds-stacked-item clearfix">
          <div class="row">
              <div class="col">
                  {{ title_suffix.contextual_links }}

                  {{ ds_content }}
              </div>
          </div>
      </div>
    {% endif %}

    {%  if ds_footer %}
      <div class="ds-stacked-bottom ds-stacked-item clearfix">
          <div class="row">
              <div class="col">
                  {{ ds_footer }}
              </div>
          </div>
      </div>
    {% endif %}
</div>
