{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div{{ attributes.addClass('ds-stacked', 'clearfix') }}>

    {%  if ds_header %}
        <div class="ds-stacked-top ds-stacked-item clearfix">
            <div class="row">
                <div class="col">
                    {{ ds_header }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="ds-stacked-middle container">

        {%  if ds_content_top %}
            <div class="row">
                <div class="ds-content-top ds-stacked-item col-8">

                    {{ title_suffix.contextual_links }}

                    {{ ds_content_top }}

                </div>
            </div>
        {% endif %}

        <div class="row">
            {%  if ds_content %}
                <div class="ds-content ds-stacked-item col-8">

                    {{ title_suffix.contextual_links }}

                    {{ ds_content }}

                </div>
            {% endif %}

            {%  if ds_sidebar %}
                <div class="ds-sidebar ds-stacked-item col-4">

                    {{ title_suffix.contextual_links }}

                    {{ ds_sidebar }}

                </div>
            {% endif %}
        </div>
    </div>

    {%  if ds_footer %}
        <div class="ds-stacked-bottom ds-stacked-item clearfix">
            <div class="row">
                <div class="col">
                    {{ ds_footer }}
                </div>

            </div>
        </div>
    {% endif %}
</div>
