{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light}">
    <div class="container">
      <div class="header--region-wrapper row">

        <div class="header__brand col-3 col-sm-2 col-lg-1">
          <a href="/" title="Home" rel="home" class="d-flex align-items-center">
            <img class="logo" src="/sites/default/files/2018-10/base-logo-small.png" alt="Home">
          </a>
        </div>
        <div class="header__nav col-9 col-sm-10 col-lg-11">
          <div class="title">DrupalSouth</div>
          <div class="mr-auto " id="navbarSupportedContent">
            <a href="#" id="toggle-expand" class="toggle-expand">
              <span class="toggle-expand__open">
                <svg class="toggle-expand__icon">
                    <use xlink:href="/themes/custom/drupalsouth/images/sprite.svg#bars"></use>
                </svg>
              </span>
              <span class="toggle-expand__close"></span>
            </a>
            <div class="navbar-collapse collapse" id="navbarNav">
              {{ page.navigation }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  <div class="container-fluid">
    {% if page.breadcrumb %}
        <div class="container">
          <div class="row">{{ page.breadcrumb }}</div>
        </div>
    {% endif %}
    <div class="row">
        {{ page.content }}
    </div>
    {% if page.content_footer %}
      <div class="row">
        {{ page.content_footer }}
      </div>
    {% endif %}
  </div>

</main>

{% if page.footer %}
  <footer class="text-muted">
    <div class="mt-md-3 pt-md-3 pb-md-5 border-top container-fluid">
      {{ page.footer }}
    </div>
  </footer>
{% endif %}
