<div class="container my-4">
  <div class="list-group w-75">
    {% for item in items %}
      <div class="list-group-item border-0 px-0 list-group-item-action flex-column align-items-start">
        <h3 class="mb-1">{{ item.title }}</h3>
        <p class="mb-1">{{ item.content }}</p>
        <a class="readmore" href="{{ item.link }}">Read more</a>
      </div>
    {% endfor %}
  </div>
</div>
