<div class="link-block bg-warning mb-3">
  <div class="container">
    <ul class="nav nav-style-1">
      {% for item in items %}
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ item.link }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
