
.node--type-event {

  &.node--view-mode-full {

    .ds-stacked-top .field--name-node-title {
      @extend .container;

      margin-bottom: 0.2em;
      font-weight: 700;
    }

    .field--name-field-dates {
      @extend .container;

      font-size: 1.4em;
      color: $ds-light-grey;
    }
    .field--name-field-location {
      @extend .container;

      padding-bottom: 0.5em;
      font-size: 1.4em;
      color: $gray-700;
    }
  }

  &.node--view-mode-compact {

    .field--name-field-location {
      font-weight: 700;
      color: #818182;
    }
  }
}

