.node--type-session {


  &.node--view-mode-full {

    > .ds-stacked-middle .field {
      margin-bottom: 1em;
    }

    .field--name-field-speakers .field__label {
      font-size: 1.6em;
      font-style: italic;
    }
  }

  p.speaker-name {
    font-size: 1.4em;
  }
}