
.node--type-sponsorship-tier {

  .field--name-node-title,
  .field--name-body {
    text-align: center;
  }

  .node--type-event {
    .field--name-node-title {
      text-align: left;
    }
  }

  .field--name-field-sponsors {
    @include make-row();

    .field__items {
      margin-top: 1em;
    }

    .field__item {
      @include make-col-ready;
      @extend .align-self-center;

      text-align: center;

      padding-top: 6px;

      @include media-breakpoint-up(sm) {
        @include make-col(6);
        padding-top: 0;
      }
      @include media-breakpoint-up(lg) {
        @include make-col(3);
        padding-top: 0;
      }
    }
  }
}

.node--type-sponsorship-tier.node--view-mode-feature {

  margin-bottom: 1em;

  .field--name-node-title > h2 {
    font-variant: all-small-caps;
    font-size: 1.4em;
  }
}