<div class="card text-white rounded-0 border-0">
  <img class="card-img rounded-0" src="{{ image }}" alt="Card image">
  <div class="card-img-overlay">
    <div class="container h-100">
      <div class="h-100 d-flex align-items-end">
        <img class="card-logo" src="{{ logo }}"  width="100">
        <div class="d-flex flex-column">
          <h1 class="card-title">{{ title }}</h1>
          <h4 class="card-text">{{ subTitle }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
