<div class="container">
  <div class="card-deck my-5">
    {% for item in items %}
      <div class="card">
        <img class="card-img-top" src="{{ item.image }}" alt="{{ item.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.content }}</p>
        </div>
        <div class="card-footer">
          <a class="readmore" href="{{ item.link }}">Read more</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
