
.ds-stacked {
  > .ds-stacked-top {

  }
  .ds-stacked-middle {
    @extend .container;

    @include ds-panel-base;
  }
  .ds-stacked-bottom {

  }
}


.ds-stacked-item {
  > .row > .field--name-field-event {
    @extend .col;
  }
}

.ds-stacked-middle {

  > .row {

    > .ds-content {
      @include make-col-ready;

      @include media-breakpoint-down(sm) {
        @include make-col(12);
      }

      @include media-breakpoint-up(sm) {
        @include make-col(8);
      }
    }

    > .ds-sidebar {
      @include make-col-ready;

      @include media-breakpoint-down(sm) {
        @include make-col(12);
      }

      @include media-breakpoint-up(sm) {
        @include make-col(4);
      }
    }
  }

}

