.field {
  width: 100%;
}



.field--name-node-title {
  @include layout-container;
}

.layout > .layout__region > .field--name-field-image {
  @extend .pl-0;
  @extend .pr-0;
}

.field--type-viewsreference {

}

.field--type-entity-reference {
  .field--name-node-title > h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0;
  }

  .field--type-daterange {
    font-size: 1em;
    padding: 0;
  }
}

.field--name-field-body li {
  margin-bottom: 1em;
}
