.header {
  box-shadow: 0 0px 10px 0px $gray-600;

  &__nav {
    position: static;
  }
}

header {
  border-bottom: 8px solid $ds-brand-highlight;
  margin-bottom: 1em;
  font-family: $headings-font-family;

  .header--region-wrapper {
    width: 100%;
  }

  .navbar-nav .nav-item:first-child a {
    padding-left: 0;
  }

  a.nav-item.nav-link {
    text-decoration: none;
  }
}



