// Navigation.


.navbar {
  @include media-breakpoint-up(lg) {
    align-items: flex-end;

    &-brand {
      position: relative;

      &__name {
        position: absolute;
        top: 30px;
        left: 100%;
        margin-left: 25px;
      }
    }
  }

  .title {
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 1em;
    line-height: 1;
  }

  &.navbar-light .navbar-nav .nav-link {
    color: #656565;
    font-weight: 700;
    line-height: 1;

  }

  &.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
  }

  &-toggler {
    position: absolute;
    right: 30px;
    top: 0;
    margin-top: 25px;
  }

  &-collapse {
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 100%;
      margin-top: 8px;
      left: 0;
      right: 0;
      z-index: 99;
      background: $white;
      box-shadow: 0 0px 10px 0px $gray-600;

      &.main-nav--open {
        display: block;
      }

      .nav-item {
        border-top: 1px solid;
      }

      .nav-link {
        display: block;
        font-size: 1.2rem;
        line-height: 1.5 !important;
        padding: 1rem !important;
        font-weight: 500;
        text-decoration: none;
        border: none;
      }
    }
  }
}

.local-nav {
  margin: 0 -15px;
  font-family: $headings-font-family;

  .navbar-nav {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  .nav-item {
    a {
      @extend .nav-link;

      &:hover {
        text-decoration: underline;
        color: #777;
      }
    }
  }
}

// Toggle
.toggle-expand {
  @include media-breakpoint-up(md) {
    display: none;
  }

  display: inline-block;
  padding: 1.5rem 0;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 0;

  // See main-menu.js
  &--open {
  }
}

.toggle-expand__text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;

  .toggle-expand--open & {
    color: $white;
  }
}


// SVG icon
.toggle-expand__icon {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}

.toggle-expand__open {
  display: inline-block;
  text-align: center;

  .toggle-expand--open & {
    display: none;
  }
}

.toggle-expand__close {
  display: none;
  text-align: center;
  background-color: $gray-dark;
  padding: 10px 20px;

  &::before {
    color: $white;
    content: "X";
    display: block;
    font-size: 2rem;
  }

  .toggle-expand--open & {
    display: inline-block;
  }
}
