
.paragraph--type--entity-reference {

  width: 100%;

  > .field--name-field-entity-reference {
    @include layout-container;

    > div {
      @extend .col-12;
    }
  }
}

.paragraph--type--event-feature {
  text-align: center;

  .field--name-field-title {
    font-size: 2em;
  }

  .field--name-field-subtitle {
    font-size: 1.4em;
  }
}

// Titles
.field--name-field-content .field--name-field-title {
  font-size: 1.4em;
  padding-bottom: 1em;
}

.field--type-viewsreference {
  margin-bottom: 1em;
}