
.block-system-main-block > .views-element-container {
  @extend .container;

  > .view {
    @extend .row;

    > .view-content {

    }
  }
}

.view-display-id-active_event {
  @extend .container;
}

//.view-sponsors {
//  .view-content {
//    width: 100%;
//    @include clearfix;
//
//    .view-item {
//      height: 200px;
//      text-align: center;
//
//      @extend .card;
//    }
//
//    .views-field.views-field-field-logo {
//      height: 140px;
//      @extend .card-img;
//    }
//
//    .views-field.views-field-title {
//      @extend .card-body;
//    }
//  }
//}